Flask
Flask-SQLAlchemy
Werkzeug==2.2.2
sqlalchemy-serializer==1.4.1
Faker
Flask-Migrate
Flask-RESTful
importlib-metadata==6.0.0
importlib-resources==5.10.0
pytest==7.2.0
Flask-Bcrypt
Flask-Session
SQLAlchemy
